<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.incloud.hcp.myibatis.mapper.BancoMapper">

    <resultMap id="bancoResultMap" type="com.incloud.hcp.domain.Banco">
        <id property="idbanco" column="id_banco"/>
        <result property="clavebanco" column="clave_banco"/>
        <result property="extensioncta" column="extension_cta"/>
        <result property="extensioncci" column="extension_cci"/>
        <result property="formatocta" column="formato_cta"/>
    </resultMap>

    <select id="getBancoByCodigo" resultMap="bancoResultMap">
        SELECT u.* FROM BANCO u WHERE u.id_banco = #{codigo}
    </select>


    <select id="getIdSequence" resultType="Integer">
        SELECT cast(COALESCE(MAX(ID_BANCO), 0) as integer) + 1 as idBanco
        FROM BANCO
    </select>

    <select id="existeBanco" resultType="Integer">
        SELECT count(1) as countBanco
        FROM BANCO u WHERE u.CLAVE_BANCO=#{codigoBanco}
    </select>

    <insert id="insertBancos" >
        INSERT INTO  banco(
        ID_BANCO ,
        CLAVE_BANCO ,
        DESCRIPCION ,
        EJEMPLO_FORMATO_CTA ,
        EXTENSION_CCI ,
        EXTENSION_CTA ,
        FORMATO_CTA ,
        EXTENSION_CTA_MIN ,
        TIPO_BANCO
        )
        VALUES
        (
        #{idBanco} ,
        #{claveBanco} ,
        #{descripcion} ,
        #{ejemploFormatoCta} ,
        #{extensionCci} ,
        #{extensionCta} ,
        #{formatoCta} ,
        #{extensionCtaMin} ,
        #{tipoBanco}
        )

    </insert>

</mapper>