<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.incloud.hcp.myibatis.mapper.ContactoMapper">

    <resultMap id="contactoResultMap" type="com.incloud.hcp.dto.CanalContactoDto">
        <id property="codigoPais" column="codigo_pais"/>
        <result property="pais" column="pais"/>
        <result property="codigoRegion" column="codigo_region"/>
        <result property="region" column="region"/>
        <result property="codigoProvincia" column="codigo_provincia"/>
        <result property="provincia" column="provincia"/>
        <result property="direccion" column="direccion"/>
        <result property="idCanalContacto" column="id_proveedor_canal"/>
        <result property="codigoArea" column="codigo_area"/>
        <result property="area" column="area"/>
        <result property="contacto" column="contacto"/>
        <result property="email" column="email"/>
        <result property="telefono" column="telefono"/>
    </resultMap>

    <resultMap id="sucursalDtoExcelResultMap" type="com.incloud.hcp.dto.reporte.SucursalDtoExcel">
        <result property="codigoSap" column="codigo_sap"/>
        <result property="ruc" column="ruc"/>
        <result property="razonSocial" column="razon_social"/>
        <result property="pais" column="pais"/>
        <result property="region" column="region"/>
        <result property="provincia" column="provincia"/>
        <result property="direccion" column="direccion"/>
        <result property="puntoAtencion" column="punto_atencion"/>
        <result property="contacto" column="contacto"/>
        <result property="correo" column="email"/>
        <result property="telefono" column="telefono"/>
    </resultMap>

    <select id="getListContactoByIdProveedor" resultMap="contactoResultMap">
        SELECT
        pais.id_ubigeo AS codigo_pais,
        pais.descripcion AS pais,
        region.id_ubigeo AS codigo_region,
        region.descripcion AS region,
        provincia.id_ubigeo AS codigo_provincia,
        provincia.descripcion AS provincia,
        c.id_proveedor_canal,
        c.direccion,
        c.area_empresa AS codigo_area,
        p.valor AS area,
        c.contacto,
        c.email,
        c.telefono
        FROM proveedor_canal_contacto c
        LEFT JOIN UBIGEO pais ON c.id_pais = pais.id_ubigeo
        LEFT JOIN UBIGEO region ON c.id_region = region.id_ubigeo
        LEFT JOIN UBIGEO provincia ON c.id_provincia = provincia.id_ubigeo
        LEFT JOIN PARAMETROS p ON p.modulo = 'CONTACTO' AND
                                  p.tipo   = 'AREA' AND
                                  c.area_empresa = p.codigo
        WHERE c.id_proveedor = #{idProveedor}
    </select>


    <select id="getIdSequence" resultType="Integer">
        SELECT cast(COALESCE(MAX(ID_PROVEEDOR_CANAL), 0) as integer) + 1 as idProveedorCanal
        FROM PROVEEDOR_CANAL_CONTACTO plc
    </select>

    <insert id="getCrearCanalContacto" parameterType="com.incloud.hcp.dto.CanalContactoInDto">
        INSERT INTO PROVEEDOR_CANAL_CONTACTO (
            ID_PROVEEDOR_CANAL,
            AREA_EMPRESA ,
            CONTACTO ,
            DIRECCION ,
            EMAIL ,
            TELEFONO ,
            ID_PAIS ,
            ID_PROVEEDOR ,
            ID_PROVINCIA ,
            ID_REGION
        )
        VALUES(
                  #{idProveedorCanal} ,
                  #{areaEmpresa},
                  #{contacto},
                  #{direccion},
                  #{email},
                  #{telefono},
                  #{pais},
                  #{proveedor},
                  #{provincia},
                  #{region}
              )
    </insert>

    <update id="updateCanalContacto">
        UPDATE PROVEEDOR_CANAL_CONTACTO SET AREA_EMPRESA = #{areaEmpresa},
                                            CONTACTO = #{contacto},
                                            DIRECCION = #{direccion},
                                            EMAIL = #{email},
                                            TELEFONO = #{telefono} WHERE ID_PROVEEDOR_CANAL = #{idProveedorCanal}
    </update>

    <select id="getListAllSucursalContactoProveedor" resultMap="sucursalDtoExcelResultMap" >
        SELECT
            pv.acreedor_codigo_sap AS codigo_sap,
            pv.ruc,
            pv.razon_social,
            pais.descripcion AS pais,
            region.descripcion AS region,
            provincia.descripcion AS provincia,
            pcc.direccion,
            COALESCE(p.valor, '-') AS punto_atencion,
            pcc.contacto,
            pcc.email,
            pcc.telefono
        FROM PROVEEDOR_CANAL_CONTACTO pcc
        INNER JOIN PROVEEDOR pv ON pcc.id_proveedor = pv.id_proveedor
        INNER JOIN UBIGEO pais ON pcc.id_pais = pais.id_ubigeo
        INNER JOIN UBIGEO region ON pcc.id_region = region.id_ubigeo
        LEFT JOIN UBIGEO  provincia ON pcc.id_provincia = provincia.id_ubigeo
        LEFT JOIN PARAMETROS p ON p.modulo = 'CONTACTO' AND p.tipo = 'AREA' AND p.codigo = pcc.area_empresa
        ORDER BY pv.razon_social;
    </select>
</mapper>