<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.incloud.hcp.myibatis.mapper.PreRegistroProveedorMapper">

    <insert id="guardarSolicitud" statementType="CALLABLE">
        { CALL SP_INS_SOLICITUD_REGISTRO(
        #{registro.ruc},
        #{registro.razonSocial},
        #{registro.contacto},
        #{registro.telefono},
        #{registro.email},
        #{registro.estado},
        #{registro.tipoProveedor.idTipoProveedor},
        #{registro.idHcp},
        #{registro.datospersonales},
        #{registro.idRegistro, jdbcType = INTEGER, javaType=java.lang.Integer, mode = OUT}

        )}
    </insert>
</mapper>