<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.incloud.hcp.myibatis.mapper.ProveedorMapper">

    <resultMap id="proveedorFilterResultMap" type="com.incloud.hcp.bean.ProveedorCustom">
        <id property="idProveedor" column="id_proveedor"/>
        <result property="ruc" column="ruc"/>
        <result property="razonSocial" column="razon_social"/>
        <result property="direccionFiscal" column="direccion_fiscal"/>
		<result property="pais" column="id_pais"/>
		<result property="region" column="id_region"/>
		<result property="regionDescripcion" column="region_descripcion"/>
		<result property="provincia" column="id_provincia"/>
		<result property="distrito" column="id_distrito"/>
        <result property="email" column="email"/>
		<result property="telefono" column="telefono"/>
		<result property="tipoProveedor" column="tipo_proveedor" />
		<result property="tipoPersona" column="tipo_persona" />
		<result property="estadoHomologacion" column="estado_homologacion" />
		<result property="evaluacionHomologacion" column="evaluacion_homologacion" />
		<result property="indBlackList" column="ind_black_list" />
		<result property="indMigradoSap" column="ind_migrado_sap" />
		<result property="indBlackListString" column="ind_black_list_string" />
		<result property="codigoAcreedorSap" column="acreedor_codigo_sap" />
		<result property="fechaModificacion" column="fecha_modificacion" />
		<result property="flagActivo" column="FLAG_ACTIVO" />
		<result property="idAreaCompra" column="idAreaCompra" />
    </resultMap>

	<resultMap id="proveedorValidacion" type="com.incloud.hcp.dto.ProveedorOutDto">
		<result property="ruc" column="ruc"/>
		<result property="razonSocial" column="razon_social"/>
		<result property="direccionFiscal" column="direccion_fiscal"/>
		<result property="pais" column="id_pais"/>
		<result property="region" column="id_region"/>
		<result property="provincia" column="id_provincia"/>
		<result property="distrito" column="id_distrito"/>
		<result property="email" column="email"/>
		<result property="telefono" column="telefono"/>
		<result property="tipoProveedor" column="id_tipo_proveedor" />
		<result property="tipoPersona" column="tipo_persona" />
		<result property="idProveedor" column="id_proveedor"/>
	</resultMap>

	<select id="validarProveedorCorreo" resultMap="proveedorValidacion">
		select ruc, email, id_proveedor from proveedor where email = #{correo}
	</select>


	<insert id="getCreaProveedor" parameterType="com.incloud.hcp.dto.ProveedorInDto">
		INSERT INTO PROVEEDOR (
			ID_PROVEEDOR,
			CARGO_REPRESENTANTE_LEGAL,
			CARGO_PERSONA_TESORERIA,
			CARGO_PERSONA_CREDITO_COBRANZA,
			CELULAR,
			CELULAR_PERSONA_COMPRA,
			CONTACTO,
			CODIGO_POSTAL,
			DIRECCION_FISCAL,
			EMAIL,

			EMAIL_REPRESENTANTE_LEGAL,
			EMAIL_REPRESENTANTE_LEGAL2,
			EMAIL_REPRESENTANTE_LEGAL3,
			EMAIL_REPRESENTANTE_LEGAL4,

			EMAIL_PERSONA_TESORERIA,
			EMAIL_PERSONA_TESORERIA2,
			EMAIL_PERSONA_TESORERIA3,
			EMAIL_PERSONA_TESORERIA4,

			EMAIL_PERSONA_CREDITO_COBRANZA,
			EMAIL_PERSONA_CREDITO_COBRANZA2,
			EMAIL_PERSONA_CREDITO_COBRANZA3,
			EMAIL_PERSONA_CREDITO_COBRANZA4,

			EMAIL_PERSONA_COMPRA,
			EMAIL_PERSONA_COMPRA2,
			EMAIL_PERSONA_COMPRA3,
			EMAIL_PERSONA_COMPRA4,

			ID_PAIS,
			ID_REGION,
			ID_PROVINCIA,
			ID_DISTRITO,
			ID_TIPO_PROVEEDOR,
			ID_CONDICION_PAGO,
			ID_MONEDA,
			ID_TIPO_COMPROBANTE,
			IND_TIPO_VENTA_BIEN,
			IND_TIPO_VENTA_SERVICIO,
			IND_TIPO_FACTURACION_MANUAL,
			IND_TIPO_FACTURACION_ELECT,
			NOMBRE_REPRESENTANTE_LEGAL,
			NRO_DOCUM_REPRESENTANTE_LEGAL,
			NOMBRE_PERSONA_TESORERIA,
			NRO_DOCUM_PERSONA_TESORERIA,
			NOMBRE_PERSONA_CREDITO_COBRANZA,
			NRO_DOCUM_PERSONA_CREDITO_COBRANZA,
			NOMBRE_PERSONA_COMPRA,
			OPERACIONES_AFECTAS,
			RAZON_SOCIAL,
			RUC,
			TELEFONO,
			TIPO_PERSONA,
			ACREEDOR_CODIGO_SAP,
			ACTIVO,
			EMAIL_RETENCION,
			EVALUACION_DESEMPENO,
			EVALUACION_HOMOLOGACION,
			FECHA_CREACION,
			FECHA_MODIFICACION,
			HCP_ID,
			TERRITORIO_REGION_AMAZONIA,
			USUARIO_CREACION,
			IND_ACEPTACION,
			ID_ESTADO_PROVEEDOR,
			ID_TIPO_BENEFICIARIO,
			CUENTA_BENEFICIARIO,
			NOMBRE_BENEFICIARIO,
			DIRECCION_BENEFICIARIO,
			CIUDAD_BENEFICIARIO,
			REFERENCIA_BENEFICIARIO,
			NOMBRE_BANCO_CTA_EXTRANJERO,
			CIUDAD_BANCO_CTA_EXTRANJERO,
			DIRECCION_BANCO_CTA_EXTRANJERO,
			TIPO_CODIGO_BANCO_CTA_EXTRANJERO,
			CODIGO_BANCO_CTA_EXTRANJERO,
			ID_PAIS_BENEFICIARIO,
			ID_ESTADO_BENEFICIARIO,
			ID_PAIS_BANCO_CTA_EXTRANJERO,
			ID_ESTADO_BANCO_CTA_EXTRANJERO,
			ID_BANCO,
			BANCO_EXTRANJERO,
			IND_DETRACCION,
			IND_EMITE_RECIBO,
			IND_ACTIVO_SUNAT,
			IND_HABIDO_SUNAT,
			CELULAR_REPRESENTANTE_LEGAL,
			CELULAR_PERSONA_CREDITO_COBRANZA,
			CELULAR_TESORERIA,
		    ID_AREA_COMPRA
		)
		VALUES(
				  (select cast(COALESCE(MAX(ID_PROVEEDOR), 0) as integer) + 1 as newId
				   from PROVEEDOR) ,
				  #{cargoRepresentanteLegal},
				  #{cargoPersonaTesoreria},
				  #{cargoPersonaCreditoCobranza},
				  #{celular},
				  #{celularPersonaCompra},
				  #{contacto},
				  #{codigoPostal},
				  #{direccionFiscal},
				  #{email},
				  #{emailRepresentanteLegal},
				  #{emailRepresentanteLegal2},
				  #{emailRepresentanteLegal3},
				  #{emailRepresentanteLegal4},
				  #{emailPersonaTesoreria},
				  #{emailPersonaTesoreria2},
				  #{emailPersonaTesoreria3},
				  #{emailPersonaTesoreria4},
				  #{emailPersonaCreditoCobranza},
				  #{emailPersonaCreditoCobranza2},
				  #{emailPersonaCreditoCobranza3},
				  #{emailPersonaCreditoCobranza4},
				  #{emailPersonaCompra},
				  #{emailPersonaCompra2},
				  #{emailPersonaCompra3},
				  #{emailPersonaCompra4},
				  #{idPais},
				  #{idRegion},
				  #{idProvincia},
				  #{idDistrito},
				  #{idTipoProveedor},
				  #{idCondicionPago},
				  #{idMoneda},
				  #{idTipoComprobante},
				  #{indTipoVentaBien},
				  #{indTipoVentaServicio},
				  #{indTipoFacturacionManual},
				  #{indTipoFacturacionElect},
				  #{nombreRepresentanteLegal},
				  #{nroDocumRepresentanteLegal},
				  #{nombrePersonaTesoreria},
				  #{nroDocumPersonaTesoreria},
				  #{nombrePersonaCreditoCobranza},
				  #{nroDocumPersonaCreditoCobranza},
				  #{nombrePersonaCompra},
				  #{operacionesAfectas},
				  #{razonSocial},
				  #{ruc},
				  #{telefono},
				  #{tipoPersona},
				  #{acredorCodigoSap},
				  #{activo},
				  #{emailRetencion},
				  #{evalHomologacion},
				  #{evalDesempeno},
				  NOW(),
				  #{fechaModificacion},
				  #{idHcp},
				  #{territAmazonia},
				  #{usuarioCreacion},
		       	  #{indAceptacion},
				  #{idEstadoProveedor},
		       	  #{idTipoBeneficiario},
		          #{cuentaBeneficiario},
				  #{nombreBeneficiario},
				  #{direccionBeneficiario},
				  #{ciudadBeneficiario},
				  #{referenciaBeneficiario},
				  #{nombreBancoCtaExtranjero},
				  #{ciudadBancoCtaExtranjero},
				  #{direccionBancoCtaExtranjero},
				  #{tipoCodigoBancoCtaExtranjero},
				  #{codigoBancoCtaExtranjero},
				  #{paisBeneficiario},
				  #{estadoBeneficiario},
				  #{paisBancoExtranjero},
				  #{estadoBancoExtranjero},
				  #{idBanco},
				  #{bancoExtranjero},
				  #{indDetraccion},
				  #{indEmiteRecibo},
				  #{indActivoSunat},
				  #{indHabidoSunat},
				  #{celularRepresentanteLegal},
				  #{celularPersonaCreditoCobranza},
				  #{celularTesoreria},
				  #{idAreaCompra}
			  )
	</insert>

	<update id="getActualizaProveedor">
		UPDATE PROVEEDOR set CARGO_REPRESENTANTE_LEGAL = #{cargoRepresentanteLegal},
		CARGO_PERSONA_TESORERIA = #{cargoPersonaTesoreria},
		CARGO_PERSONA_CREDITO_COBRANZA = #{cargoPersonaCreditoCobranza},
		CELULAR = #{celular},
		CELULAR_PERSONA_COMPRA = #{celularPersonaCompra},
		CONTACTO = #{contacto},
		CODIGO_POSTAL = #{codigoPostal},
		DIRECCION_FISCAL = #{direccionFiscal},
		EMAIL = #{email},
		FECHA_MODIFICACION = #{fechaModificacion},

		EMAIL_REPRESENTANTE_LEGAL = #{emailRepresentanteLegal},
		EMAIL_REPRESENTANTE_LEGAL2 = #{emailRepresentanteLegal2},
		EMAIL_REPRESENTANTE_LEGAL3 = #{emailRepresentanteLegal3},
		EMAIL_REPRESENTANTE_LEGAL4 = #{emailRepresentanteLegal4},

		EMAIL_PERSONA_TESORERIA = #{emailPersonaTesoreria},
		EMAIL_PERSONA_TESORERIA2 = #{emailPersonaTesoreria2},
		EMAIL_PERSONA_TESORERIA3 = #{emailPersonaTesoreria3},
		EMAIL_PERSONA_TESORERIA4 = #{emailPersonaTesoreria4},

		EMAIL_PERSONA_CREDITO_COBRANZA = #{emailPersonaCreditoCobranza},
		EMAIL_PERSONA_CREDITO_COBRANZA2 = #{emailPersonaCreditoCobranza2},
		EMAIL_PERSONA_CREDITO_COBRANZA3 = #{emailPersonaCreditoCobranza3},
		EMAIL_PERSONA_CREDITO_COBRANZA4 = #{emailPersonaCreditoCobranza4},

		EMAIL_PERSONA_COMPRA = #{emailPersonaCompra},
		EMAIL_PERSONA_COMPRA2 = #{emailPersonaCompra2},
		EMAIL_PERSONA_COMPRA3 = #{emailPersonaCompra3},
		EMAIL_PERSONA_COMPRA4 = #{emailPersonaCompra4},

		EMAIL_RETENCION = #{emailRetencion},
		ID_PAIS = #{idPais},
		ID_REGION = #{idRegion},
		ID_PROVINCIA = #{idProvincia},
		ID_DISTRITO = #{idDistrito},
		ID_ESTADO_PROVEEDOR = #{idEstadoProveedor},
		ID_TIPO_PROVEEDOR = #{idTipoProveedor},
		ID_CONDICION_PAGO = #{idCondicionPago},
		ID_MONEDA = #{idMoneda},
		ID_TIPO_COMPROBANTE = #{idTipoComprobante},
		IND_TIPO_VENTA_BIEN  = #{indTipoVentaBien},
		IND_TIPO_VENTA_SERVICIO = #{indTipoVentaServicio},
		IND_TIPO_FACTURACION_MANUAL = #{indTipoFacturacionManual},
		IND_TIPO_FACTURACION_ELECT = #{indTipoFacturacionElect},
		NOMBRE_REPRESENTANTE_LEGAL = #{nombreRepresentanteLegal},
		NRO_DOCUM_REPRESENTANTE_LEGAL = #{nroDocumRepresentanteLegal},
		NOMBRE_PERSONA_TESORERIA = #{nombrePersonaTesoreria},
		NRO_DOCUM_PERSONA_TESORERIA = #{nroDocumPersonaTesoreria},
		NOMBRE_PERSONA_CREDITO_COBRANZA = #{nombrePersonaCreditoCobranza},
		NRO_DOCUM_PERSONA_CREDITO_COBRANZA = #{nroDocumPersonaCreditoCobranza},
		NOMBRE_PERSONA_COMPRA = #{nombrePersonaCompra},
		OPERACIONES_AFECTAS = #{operacionesAfectas},
		RAZON_SOCIAL = #{razonSocial},
		RUC  = #{ruc},
		TELEFONO = #{telefono},
		TIPO_PERSONA  = #{tipoPersona},
		TERRITORIO_REGION_AMAZONIA = #{territAmazonia},
		IND_ACEPTACION = #{indAceptacion},
	    ID_TIPO_BENEFICIARIO = #{idTipoBeneficiario},
	    CUENTA_BENEFICIARIO = #{cuentaBeneficiario},
	    NOMBRE_BENEFICIARIO = #{nombreBeneficiario},
	    DIRECCION_BENEFICIARIO = #{direccionBeneficiario},
	    CIUDAD_BENEFICIARIO = #{ciudadBeneficiario},
	    REFERENCIA_BENEFICIARIO = #{referenciaBeneficiario},
	    NOMBRE_BANCO_CTA_EXTRANJERO = #{nombreBancoCtaExtranjero},
	    CIUDAD_BANCO_CTA_EXTRANJERO = #{ciudadBancoCtaExtranjero},
	    DIRECCION_BANCO_CTA_EXTRANJERO = #{direccionBancoCtaExtranjero},
	    TIPO_CODIGO_BANCO_CTA_EXTRANJERO = #{tipoCodigoBancoCtaExtranjero},
	    CODIGO_BANCO_CTA_EXTRANJERO = #{codigoBancoCtaExtranjero},
	    ID_PAIS_BENEFICIARIO = #{paisBeneficiario},
	    ID_ESTADO_BENEFICIARIO = #{estadoBeneficiario},
	    ID_PAIS_BANCO_CTA_EXTRANJERO = #{paisBancoExtranjero},
	    ID_ESTADO_BANCO_CTA_EXTRANJERO = #{estadoBancoExtranjero},
	    ID_BANCO = #{idBanco},
	    BANCO_EXTRANJERO = #{bancoExtranjero},
	    IND_DETRACCION = #{indDetraccion},
	    IND_EMITE_RECIBO = #{indEmiteRecibo},

		CELULAR_REPRESENTANTE_LEGAL = #{celularRepresentanteLegal},
		CELULAR_PERSONA_CREDITO_COBRANZA = #{celularPersonaCreditoCobranza},
		CELULAR_TESORERIA = #{celularTesoreria},
		ID_AREA_COMPRA = #{idAreaCompra}
		WHERE EMAIL = #{email}
	</update>

	<select id="getListProveedorByRuc" resultMap="proveedorFilterResultMap">
		SELECT
		p.id_proveedor,
		p.ruc,
		p.razon_social,
		p.direccion_fiscal,
		(SELECT u.ID_UBIGEO from UBIGEO u WHERE u.ID_UBIGEO = p.ID_REGION AND u.NIVEL=1) as region,
		p.email,
		tp.descripcion as tipo_proveedor,
		pr.valor as tipo_persona,
		CASE p.ind_homologado WHEN '1' THEN 'Homologado' ELSE 'No Homologado' END AS estado_homologacion,
		p.evaluacion_homologacion,
		p.ind_black_list,
		p.ind_migrado_sap,
		p.acreedor_codigo_sap,
		p.fecha_modificacion,
		p.id_area_compra,
		CASE p.ind_black_list WHEN '1' THEN 'Proveedor Observado' ELSE '' END AS ind_black_list_string
		FROM PROVEEDOR p, TIPO_PROVEEDOR tp, PARAMETROS pr
		WHERE tp.ID_TIPO_PROVEEDOR = p.ID_TIPO_PROVEEDOR
			AND pr.MODULO = 'PROVEEDOR'
			AND pr.TIPO = 'TIPO_PERSONA'
			AND pr.CODIGO = p.TIPO_PERSONA
			AND p.ruc = #{ruc}
	</select>




	<select id="devuelveProveedor" resultMap="proveedorFilterResultMap">
		SELECT
			p.id_proveedor,
			p.ruc,
			p.razon_social,
			p.direccion_fiscal,
			p.id_pais,
			p.id_region,
			p.id_provincia,
			p.id_distrito,
			p.email,
		    p.telefono,
			CAST(p.id_tipo_proveedor AS varchar(1)) AS id_tipo_proveedor,
			p.tipo_persona,
			p.acreedor_codigo_sap,
			p.id_area_compra
		FROM PROVEEDOR p WHERE p.email=#{email}
	</select>

	<select id="getListProveedorMigrados" resultMap="proveedorFilterResultMap">
		SELECT
		p.id_proveedor,
		p.ruc,
		p.razon_social,
		p.direccion_fiscal,
  		p.email,
		p.acreedor_codigo_sap,
		p.id_area_compra
		FROM PROVEEDOR p
		WHERE  p.hcp_id is null
	</select>

	<select id="getListProveedorByFiltro" resultMap="proveedorFilterResultMap">
		SELECT
			p.id_proveedor,
			p.ruc,
			p.razon_social,
			p.direccion_fiscal,
			(SELECT u.ID_UBIGEO from UBIGEO u WHERE u.ID_UBIGEO = p.ID_REGION AND u.NIVEL=1) as region,
			p.email,
			tp.descripcion as tipo_proveedor,
			pr.valor as tipo_persona,
			CASE p.ind_homologado WHEN '1' THEN 'Homologado' ELSE 'No Homologado' END AS estado_homologacion,
			p.evaluacion_homologacion,
			p.ind_black_list,
			p.ind_migrado_sap,
		    p.acreedor_codigo_sap,
		    p.fecha_modificacion,
			CASE p.ind_black_list WHEN '1' THEN 'Proveedor Observado' ELSE '' END AS ind_black_list_string,
		    p.id_area_compra
		FROM PROVEEDOR p, TIPO_PROVEEDOR tp, PARAMETROS pr, ESTADO_PROVEEDOR ES
		<where>
			<if test="estadoProveedor != null and estadoProveedor != ''">
				es.CODIGO_ESTADO_PROVEEDOR = #{estadoProveedor}
			</if>
			<if test="tipoProveedor != null and tipoProveedor != ''">
				AND p.ID_TIPO_PROVEEDOR = #{tipoProveedor}
			</if>
			<if test="tipoPersona != null and tipoPersona != ''">
				AND p.TIPO_PERSONA = #{tipoPersona}
			</if>
			<if test="indHomologado != null and indHomologado != ''">
				AND p.IND_HOMOLOGADO = #{indHomologado}
			</if>
			<!--<if test="idAreaCompra != null and idAreaCompra != ''">
				AND p.ID_AREA_COMPRA = #{idAreaCompra}
			</if>-->

			<if test="idsPais != null and idsPais.size() > 0">
				AND p.id_pais IN
				<foreach item="item" index="index" collection="idsPais"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="idsRegion != null and idsRegion.size() > 0">
				AND p.id_region IN
				<foreach item="item" index="index" collection="idsRegion"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="idsProvincia != null and idsProvincia.size() > 0">
				AND p.id_provincia IN
				<foreach item="item" index="index" collection="idsProvincia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="nroRuc != null and nroRuc != ''">
				AND p.ruc = #{nroRuc}
			</if>
			<if test="marca != null and marca != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.MARCA) like '%'||UPPER(#{marca})||'%')
			</if>
			<if test="producto != null and producto != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.PRODUCTO) like '%'||UPPER(#{producto})||'%')
			</if>
			<if test="razonSocial != null and razonSocial != ''">
				AND p.razon_social = #{razonSocial}
			</if>
			<if test="descripcionAdicional != null and descripcionAdicional != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.DESCRIPCION_ADICIONAL) like '%'||UPPER(#{descripcionAdicional})||'%')
			</if>
			<if test="idsLinea != null and idsLinea.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_LINEA_COMERCIAL IN
				<foreach item="item" index="index" collection="idsLinea"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			<if test="idsFamilia != null and idsFamilia.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_FAMILIA IN
				<foreach item="item" index="index" collection="idsFamilia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			<if test="idsSubFamilia != null and idsSubFamilia.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_SUBFAMILIA IN
				<foreach item="item" index="index" collection="idsSubFamilia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			AND tp.ID_TIPO_PROVEEDOR = p.ID_TIPO_PROVEEDOR
			AND pr.MODULO = 'PROVEEDOR'
			AND pr.TIPO = 'TIPO_PERSONA'
			AND pr.CODIGO = p.TIPO_PERSONA
			AND p.ID_ESTADO_PROVEEDOR = es.ID_ESTADO_PROVEEDOR
		</where>

		ORDER BY p.fecha_modificacion desc

	</select>

	<select id="getListProveedorByFiltroPaginado" resultMap="proveedorFilterResultMap">
		SELECT
		p.id_proveedor,
		p.ruc,
		p.razon_social,
		p.direccion_fiscal,
		(SELECT u.descripcion from UBIGEO u WHERE u.ID_UBIGEO = p.ID_REGION AND u.NIVEL=1) as region,
		p.email,
		tp.descripcion as tipo_proveedor,
		pr.valor as tipo_persona,
		CASE p.ind_homologado WHEN '1' THEN 'Homologado' ELSE 'No Homologado' END AS estado_homologacion,
		p.evaluacion_homologacion,
		p.ind_black_list,
		p.ind_migrado_sap,
        p.acreedor_codigo_sap,
		CASE p.ind_black_list WHEN '1' THEN 'Proveedor Observado' ELSE '' END AS ind_black_list_string
		FROM PROVEEDOR p, TIPO_PROVEEDOR tp, PARAMETROS pr, ESTADO_PROVEEDOR ES
		<where>
			<if test="estadoProveedor != null and estadoProveedor != ''">
				es.CODIGO_ESTADO_PROVEEDOR = #{estadoProveedor}
			</if>
			<if test="tipoProveedor != null and tipoProveedor != ''">
				p.ID_TIPO_PROVEEDOR = #{tipoProveedor}
			</if>
			<if test="tipoPersona != null and tipoPersona != ''">
				AND p.TIPO_PERSONA = #{tipoPersona}
			</if>
			<if test="indHomologado != null and indHomologado != ''">
				AND p.IND_HOMOLOGADO = #{indHomologado}
			</if>
			<if test="idsPais != null and idsPais.size() > 0">
				AND p.id_pais IN
				<foreach item="item" index="index" collection="idsPais"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="idsRegion != null and idsRegion.size() > 0">
				AND p.id_region IN
				<foreach item="item" index="index" collection="idsRegion"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="idsProvincia != null and idsProvincia.size() > 0">
				AND p.id_provincia IN
				<foreach item="item" index="index" collection="idsProvincia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="nroRuc != null and nroRuc != ''">
				AND p.ruc = #{nroRuc}
			</if>
			<if test="razonSocial != null and razonSocial != ''">
				AND UPPER(p.razon_social) LIKE '%'||UPPER(#{razonSocial})||'%'
			</if>
			<if test="marca != null and marca != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.MARCA) like '%'||UPPER(#{marca})||'%')
			</if>
			<if test="producto != null and producto != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.PRODUCTO) like '%'||UPPER(#{producto})||'%')
			</if>
			<if test="descripcionAdicional != null and descripcionAdicional != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.DESCRIPCION_ADICIONAL) like '%'||UPPER(#{descripcionAdicional})||'%')
			</if>
			<if test="idsLinea != null and idsLinea.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_LINEA_COMERCIAL IN
				<foreach item="item" index="index" collection="idsLinea"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			<if test="idsFamilia != null and idsFamilia.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_FAMILIA IN
				<foreach item="item" index="index" collection="idsFamilia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			<if test="idsSubFamilia != null and idsSubFamilia.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_SUBFAMILIA IN
				<foreach item="item" index="index" collection="idsSubFamilia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			AND tp.ID_TIPO_PROVEEDOR = p.ID_TIPO_PROVEEDOR
			AND pr.MODULO = 'PROVEEDOR'
			AND pr.TIPO = 'TIPO_PERSONA'
			AND pr.CODIGO = p.TIPO_PERSONA
			AND p.ID_ESTADO_PROVEEDOR = es.ID_ESTADO_PROVEEDOR
		</where>

		ORDER BY p.razon_social, p.evaluacion_homologacion desc
		LIMIT #{nroRegistros} OFFSET #{paginaMostrar}
	</select>

	<select id="getListProveedorByFiltroValidacion" resultMap="proveedorFilterResultMap">
		SELECT
		p.id_proveedor,
		p.ruc,
		p.razon_social,
		p.direccion_fiscal,
		(SELECT u.ID_UBIGEO from UBIGEO u WHERE u.ID_UBIGEO = p.ID_REGION AND u.NIVEL=1) as region,
		p.email,
		tp.descripcion as tipo_proveedor,
		pr.valor as tipo_persona,
		CASE p.ind_homologado WHEN '1' THEN 'Homologado' ELSE 'No Homologado' END AS estado_homologacion,
		p.evaluacion_homologacion,
		p.ind_black_list,
		p.ind_migrado_sap,
        p.acreedor_codigo_sap,
        p.fecha_modificacion,
		p.flag_activo,
		p.id_area_compra,
		CASE p.ind_black_list WHEN '1' THEN 'Proveedor Observado' ELSE '' END AS ind_black_list_string
		FROM PROVEEDOR p, TIPO_PROVEEDOR tp, PARAMETROS pr, ESTADO_PROVEEDOR ES
		<where>

			<if test="estadoProveedor != null and estadoProveedor != ''">
				ES.CODIGO_ESTADO_PROVEEDOR = #{estadoProveedor}
			</if>
			<!--<if test="idAreaCompra != null and idAreaCompra != ''">
				AND p.ID_AREA_COMPRA = #{idAreaCompra}
			</if>-->
			<if test="tipoProveedor != null and tipoProveedor != ''">
				AND p.ID_TIPO_PROVEEDOR = #{tipoProveedor}
			</if>
			<if test="tipoPersona != null and tipoPersona != ''">
				AND p.TIPO_PERSONA = #{tipoPersona}
			</if>
			<if test="indHomologado != null and indHomologado != ''">
				AND COALESCE(p.IND_HOMOLOGADO, '0') = #{indHomologado}
			</if>
			<if test="idsPais != null and idsPais.size() > 0">
				AND p.id_pais IN
				<foreach item="item" index="index" collection="idsPais"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="idsRegion != null and idsRegion.size() > 0">
				AND p.id_region IN
				<foreach item="item" index="index" collection="idsRegion"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="idsProvincia != null and idsProvincia.size() > 0">
				AND p.id_provincia IN
				<foreach item="item" index="index" collection="idsProvincia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="nroRuc != null and nroRuc != ''">
				AND p.ruc = #{nroRuc}
			</if>
			<if test="razonSocial != null and razonSocial != ''">
				AND UPPER(p.razon_social) LIKE '%'||UPPER(#{razonSocial})||'%'
			</if>
			<if test="marca != null and marca != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.MARCA) like '%'||UPPER(#{marca})||'%')
			</if>
			<if test="producto != null and producto != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.PRODUCTO) like '%'||UPPER(#{producto})||'%')
			</if>
			<if test="descripcionAdicional != null and descripcionAdicional != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.DESCRIPCION_ADICIONAL) like '%'||UPPER(#{descripcionAdicional})||'%')
			</if>
			<if test="idsLinea != null and idsLinea.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_LINEA_COMERCIAL IN
				<foreach item="item" index="index" collection="idsLinea"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			<if test="idsFamilia != null and idsFamilia.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_FAMILIA IN
				<foreach item="item" index="index" collection="idsFamilia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			<if test="idsSubFamilia != null and idsSubFamilia.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_SUBFAMILIA IN
				<foreach item="item" index="index" collection="idsSubFamilia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			AND tp.ID_TIPO_PROVEEDOR = p.ID_TIPO_PROVEEDOR
			AND pr.MODULO = 'PROVEEDOR'
			AND pr.TIPO = 'TIPO_PERSONA'
			AND pr.CODIGO = p.TIPO_PERSONA
			AND p.ID_ESTADO_PROVEEDOR = es.ID_ESTADO_PROVEEDOR
			AND es.IND_VER_VALIDACION = '1'
		</where>

		ORDER BY p.fecha_modificacion desc
	</select>

	<select id="getListProveedorByFiltroLicitacion" resultMap="proveedorFilterResultMap">
		SELECT
		p.id_proveedor,
		p.ruc,
		p.razon_social,
		p.direccion_fiscal,
		(SELECT u.descripcion from UBIGEO u WHERE u.ID_UBIGEO = p.ID_REGION AND u.NIVEL=1) as region,
		p.email,
		tp.descripcion as tipo_proveedor,
		pr.valor as tipo_persona,
		CASE p.ind_homologado WHEN '1' THEN 'Homologado' ELSE 'No Homologado' END AS estado_homologacion,
		p.evaluacion_homologacion,
		p.ind_black_list,
		p.ind_migrado_sap,
        p.acreedor_codigo_sap,
		p.id_area_compra,
		CASE p.ind_black_list WHEN '1' THEN 'Proveedor Observado' ELSE '' END AS ind_black_list_string
		FROM PROVEEDOR p, TIPO_PROVEEDOR tp, PARAMETROS pr, ESTADO_PROVEEDOR ES
		<where>

			<if test="tipoProveedor != null and tipoProveedor != ''">
				p.ID_TIPO_PROVEEDOR = #{tipoProveedor}
			</if>
			<if test="tipoPersona != null and tipoPersona != ''">
				AND p.TIPO_PERSONA = #{tipoPersona}
			</if>
			<if test="indHomologado != null and indHomologado != ''">
				AND p.IND_HOMOLOGADO = #{indHomologado}
			</if>
			<if test="idsPais != null and idsPais.size() > 0">
				AND p.id_pais IN
				<foreach item="item" index="index" collection="idsPais"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="idsRegion != null and idsRegion.size() > 0">
				AND p.id_region IN
				<foreach item="item" index="index" collection="idsRegion"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="idsProvincia != null and idsProvincia.size() > 0">
				AND p.id_provincia IN
				<foreach item="item" index="index" collection="idsProvincia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="nroRuc != null and nroRuc != ''">
				AND p.ruc = #{nroRuc}
			</if>
			<if test="razonSocial != null and razonSocial != ''">
				AND UPPER(p.razon_social) LIKE '%'||UPPER(#{razonSocial})||'%'
			</if>
			<if test="marca != null and marca != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.MARCA) like '%'||UPPER(#{marca})||'%')
			</if>
			<if test="producto != null and producto != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.PRODUCTO) like '%'||UPPER(#{producto})||'%')
			</if>
			<if test="descripcionAdicional != null and descripcionAdicional != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.DESCRIPCION_ADICIONAL) like '%'||UPPER(#{descripcionAdicional})||'%')
			</if>
			<if test="idsLinea != null and idsLinea.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_LINEA_COMERCIAL IN
				<foreach item="item" index="index" collection="idsLinea"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			<if test="idsFamilia != null and idsFamilia.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_FAMILIA IN
				<foreach item="item" index="index" collection="idsFamilia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			<if test="idsSubFamilia != null and idsSubFamilia.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_SUBFAMILIA IN
				<foreach item="item" index="index" collection="idsSubFamilia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			AND tp.ID_TIPO_PROVEEDOR = p.ID_TIPO_PROVEEDOR
			AND pr.MODULO = 'PROVEEDOR'
			AND pr.TIPO = 'TIPO_PERSONA'
			AND pr.CODIGO = p.TIPO_PERSONA
			AND  p.ID_ESTADO_PROVEEDOR = es.ID_ESTADO_PROVEEDOR AND (es.IND_VER_LICITACION = '1' or p.IND_MIGRADO_SAP = '1')

		</where>

		ORDER BY p.razon_social, p.evaluacion_homologacion desc
	</select>

	<select id="getListProveedorByFiltroLicitacionPaginado" resultMap="proveedorFilterResultMap">
		SELECT
		p.id_proveedor,
		p.ruc,
		p.razon_social,
		p.direccion_fiscal,
		(SELECT u.ID_UBIGEO from UBIGEO u WHERE u.ID_UBIGEO = p.ID_REGION AND u.NIVEL=1) as region,
		(SELECT u.DESCRIPCION from UBIGEO u WHERE u.ID_UBIGEO = p.ID_REGION AND u.NIVEL=1) as region_descripcion,
		p.email,
		tp.descripcion as tipo_proveedor,
		pr.valor as tipo_persona,
		CASE p.ind_homologado WHEN '1' THEN 'Homologado' ELSE 'No Homologado' END AS estado_homologacion,
		p.evaluacion_homologacion,
		p.ind_black_list,
		p.ind_migrado_sap,
        p.acreedor_codigo_sap,
		p.id_area_compra,
		CASE p.ind_black_list WHEN '1' THEN 'Proveedor Observado' ELSE '' END AS ind_black_list_string
		FROM PROVEEDOR p, TIPO_PROVEEDOR tp, PARAMETROS pr, ESTADO_PROVEEDOR ES
		<where>

			<if test="tipoProveedor != null and tipoProveedor != ''">
				p.ID_TIPO_PROVEEDOR = #{tipoProveedor}
			</if>
			<if test="tipoPersona != null and tipoPersona != ''">
				AND p.TIPO_PERSONA = #{tipoPersona}
			</if>
			<if test="indHomologado != null and indHomologado != ''">
				AND p.IND_HOMOLOGADO = #{indHomologado}
			</if>
			<if test="idsPais != null and idsPais.size() > 0">
				AND p.id_pais IN
				<foreach item="item" index="index" collection="idsPais"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="idsRegion != null and idsRegion.size() > 0">
				AND p.id_region IN
				<foreach item="item" index="index" collection="idsRegion"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="idsProvincia != null and idsProvincia.size() > 0">
				AND p.id_provincia IN
				<foreach item="item" index="index" collection="idsProvincia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="nroRuc != null and nroRuc != ''">
				AND p.ruc = #{nroRuc}
			</if>
			<if test="razonSocial != null and razonSocial != ''">
				AND UPPER(p.razon_social) LIKE '%'||UPPER(#{razonSocial})||'%'
			</if>
			<if test="marca != null and marca != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.MARCA) like '%'||UPPER(#{marca})||'%')
			</if>
			<if test="producto != null and producto != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.PRODUCTO) like '%'||UPPER(#{producto})||'%')
			</if>
			<if test="descripcionAdicional != null and descripcionAdicional != ''">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_PRODUCTO pp WHERE pp.ID_PROVEEDOR = p.ID_PROVEEDOR AND UPPER(pp.DESCRIPCION_ADICIONAL) like '%'||UPPER(#{descripcionAdicional})||'%')
			</if>
			<if test="idsLinea != null and idsLinea.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_SUBFAMILIA IN
				<foreach item="item" index="index" collection="idsLinea"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			<if test="idsFamilia != null and idsFamilia.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_FAMILIA IN
				<foreach item="item" index="index" collection="idsFamilia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			<if test="idsSubFamilia != null and idsSubFamilia.size() > 0">
				AND EXISTS (SELECT 1 FROM PROVEEDOR_LINEA_COMERCIAL lc WHERE lc.ID_PROVEEDOR = p.ID_PROVEEDOR AND lc.ID_SUBFAMILIA IN
				<foreach item="item" index="index" collection="idsSubFamilia"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			AND tp.ID_TIPO_PROVEEDOR = p.ID_TIPO_PROVEEDOR
			AND pr.MODULO = 'PROVEEDOR'
			AND pr.TIPO = 'TIPO_PERSONA'
			AND pr.CODIGO = p.TIPO_PERSONA
			AND p.IND_HOMOLOGADO = '1'
			AND  p.ID_ESTADO_PROVEEDOR = es.ID_ESTADO_PROVEEDOR
			AND p.FLAG_ACTIVO = 1


		</where>

		ORDER BY p.razon_social, p.evaluacion_homologacion desc
		LIMIT #{nroRegistros} OFFSET #{paginaMostrar}
	</select>

	<update id="updateEstadoProveedor">
		UPDATE proveedor
		set id_estado_proveedor = #{idEstadoProveedor}
		where id_proveedor = #{idProveedor}
	</update>



</mapper>