<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.incloud.hcp.myibatis.mapper.SolicitudPedidoMapper">


	<resultMap id="licitacionFilterResultMap" type="com.incloud.hcp.bean.LicitacionResponse">
		<!--<id property="idLicitacion" column="id_licitacion"/>-->
		<result property="estadoLicitacion" column="estado_licitacion"/>
	</resultMap>

	<select id="getLicitacionBySolpedAndBien" resultMap="licitacionFilterResultMap">
		SELECT
			li.ESTADO_LICITACION
		FROM LICITACION li, LICITACION_DETALLE ld
		WHERE
			ld.ID_LICITACION = li.ID_LICITACION
			AND ld.SOLICITUD_PEDIDO = #{codSolped}
			AND ld.ID_BIEN_SERVICIO = #{idBienServicio}
	</select>

	<select id="getLicitacionBySolpedPosicionAndBien" resultMap="licitacionFilterResultMap">
		SELECT
			li.ESTADO_LICITACION
		FROM LICITACION li, LICITACION_DETALLE ld
		WHERE
			ld.ID_LICITACION = li.ID_LICITACION
			AND ld.SOLICITUD_PEDIDO = #{codSolped}
			AND ld.POSICION_SOLICITUD_PEDIDO = #{posicion}
			AND ld.ID_BIEN_SERVICIO = #{idBienServicio}

	</select>

</mapper>