<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.incloud.hcp.myibatis.mapper.UnidadMedidaMapper">

    <select id="getIdSequence" resultType="Integer">
        SELECT cast(COALESCE(MAX(ID_UNIDAD_MEDIDA), 0) as integer) + 1 as idUnidadMedida
        FROM UNIDAD_MEDIDA
    </select>


</mapper>