<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="width: 600px;margin: auto;padding: 0;font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #333">
<!-- gold bar -->
<table cellspacing="0" cellpadding="0" width="600px" class="header"
       style="border-bottom-style: solid;border-bottom-color: #F0AB00;border-bottom-width: 8px;padding-top: 13px;
       padding-bottom: 12px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
            <table cellspacing="0" cellpadding="0">
                <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
                    <td class="logo" style="border-collapse: collapse;width: 61px;padding: 0;margin: 0">
                        <img src="https://acfajlsci.accounts.ondemand.com/ui/public/TENANT/RESOURCE_LOGO_FOOTER"
                             width="100" height="100"
                             style="border: 1px black;height: auto;line-height: 100%;outline: none;text-decoration: none"/>
                    </td>
                </tr>
            </table>
        </td>
        <#if user.company_logo??>
            <td align="right" style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
                <div class="companylogo" style="height: 32px;overflow: hidden">
                    <img src="${user.company_logo}"
                         style="border: 0;height: 32px;line-height: 100%;outline: none;text-decoration: none;width: auto"/>
                </div>
            </td>
        </#if>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="main_first"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 36px;padding-bottom: 12px">
            <h1 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;color: #555;margin-bottom: 24px">
                Estimado ${user.firstName?html} ${user.lastName?html},</h1>
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">Gracias por
                registrarse en el Vendor
                Portal de Copeinca. Para activar su cuenta, haga clic en el siguiente enlace:
            </p>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td align="middle" class="cta_container"
            style="border-collapse: collapse; width: 600px; padding: 0; margin: 0; padding-top: 36px; padding-bottom: 36px">
            <a href="${user.activate_account_link}" id="activation-link" class="cta"
               style="font-family: Arial, Helvetica, sans-serif;color: #fff;background-color: #226ca9;background: #226ca9;background-image: linear-gradient(top, #008fcc, #2b3f7b);border-radius: 4px;font-size: 16px;text-decoration: none;padding: 8px 12px">
                Clic aquí para activar su cuenta</a></td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="main"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 12px;word-wrap: break-word">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px;word-wrap: break-word">
                Si el enlace de arriba no se muestra o no funciona, copie y pegue el siguiente enlace en la barra de
                direcciones de su navegador.
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px;word-wrap: break-word">
                ${user.activate_account_link}
            </p>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="main_last"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 36px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Atentamente,<br/>
                Equipo IProvider - Copeinca</p>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="colophon"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;font-size: 11px;color: #888;line-height: 13px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 11px;line-height: 13px;color: #888">
                Este correo electrónico puede contener secretos comerciales o información privilegiada, no divulgada o
                confidencial. Si recibió este correo electrónico por error, se le notifica que cualquier revisión, copia
                o
                distribución está estrictamente prohibida. Por favor, infórmenos de inmediato y destruya la transmisión
                original.
                Gracias por su cooperación.
            </p>
        </td>
    </tr>
</table>
<hr>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="main_first"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 36px;padding-bottom: 12px">
            <h1 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;color: #555;margin-bottom: 24px">
                Dear ${user.firstName?html} ${user.lastName?html},</h1>
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Thank you for registering in the IProvider of Copeinca. To activate your account,.click the link
                below.
            </p>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td align="middle" class="cta_container"
            style="border-collapse: collapse; width: 600px; padding: 0; margin: 0; padding-top: 36px; padding-bottom: 36px">
            <a href="${user.activate_account_link}" id="activation-link_" class="cta"
               style="font-family: Arial, Helvetica, sans-serif;color: #fff;background-color: #226ca9;background: #226ca9;background-image: linear-gradient(top, #008fcc, #2b3f7b);border-radius: 4px;font-size: 16px;text-decoration: none;padding: 8px 12px">
                Click here to activate your account</a></td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="main"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 12px;word-wrap: break-word">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px;word-wrap: break-word">
                If the link above is not displayed or does not work, copy and paste the link below to the address bar of
                your browser.
            </p>
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px;word-wrap: break-word">
                ${user.activate_account_link}
            </p>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="main_last"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 36px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Best Regards,<br/>
                Your SAP Cloud Identity Service Team</p>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="colophon"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;font-size: 11px;color: #888;line-height: 13px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 11px;line-height: 13px;color: #888">
                This e-mail may contain trade secrets or privileged, undisclosed, or otherwise confidential information.
                If you have received this e-mail in error, you are hereby notified that any review, copying, or
                distribution
                of it is strictly prohibited. Please inform us immediately and destroy the original transmittal. Thank
                you for
                your cooperation.
            </p>
        </td>
    </tr>
</table>
</body>
</html>