<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN”
        “http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd”>
<html xmlns=“http://www.w3.org/1999/xhtml">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body style="margin:0 auto;">
<table width="100%" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
    <!-- HEADER  -->
    <!-- Inicio Logo y titulo -->
    <!--<tr>
        <td align="center">
            <img src="cid:${vendor_header}"
                 alt="Topitop - Soluciones inmobiliarias trascendentes que generan calidad para las ciudades" border="0"
                 width="600"
                 style="width:600px;display:block;" />
        </td>
    </tr>-->
    <!-- Fin Logo y titulo -->
    <!--  FIN HEADER  -->
    <!-- CONTENIDO -->
    <tr>
        <td>
            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <table width="100%">
                            <!-- Inicio Texto Destacado -->
                            <tr>
                                <td style="padding-top:20px;padding-left:10px;padding-bottom:20px;padding-right:10px;font-family:Montserrat,sans-serif;font-size:14px;line-height:18px;color:#515151;text-align:justify;font-weight: 600;">
                                    <p align="justify">
                                        Estimado ${contacto},
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:0px;padding-left:10px;padding-bottom:20px;padding-right:10px;font-family:Montserrat,sans-serif;font-size:12px;line-height:18px;color:#515151;text-align:justify">
                                    <p align="justify">
                                        Se ha Evaluado el acta de sustento Nro. ${nroActa},se encuentra Aprobada y el monto aceptado ( ${totalAceptado} ${moneda}}) .  <br/>
                                        por favor ingrese al siguiente enlace para continuar con el proceso, para que pueda presentar sus facturas :
                                    </p>
                                </td>
                            </tr>
                            <!-- Inicio CTA -->
                            <tr>
                                <td align="center" style="padding-bottom: 20px;">
        <table style="width: 80%; height: 35px; background-color: #BCFF22; border-radius: 20px; text-align: center;" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td align="center">
                    <a href="${urlportal}" target="_blank" style="display: inline-block; width: 100%; height: 35px; line-height: 35px; text-decoration: none; font-size: 12px; font-family: Montserrat, sans-serif; color: black; font-weight: bold; text-align: center;">
                        Haga clic aquí para ingresar a su cuenta
                    </a>
                </td>
            </tr>
        </table>
    </td>
                            </tr>
                            <!-- Fin CTA -->
                            <!-- Inicio Texto Destacado -->
                            <tr>
                                <td style="padding-top:0px;padding-left:10px;padding-bottom:20px;padding-right:10px;font-family:Montserrat,sans-serif;font-size:12px;line-height:18px;color:#515151;text-align:justify">
                                    <p align="justify">
                                        Si el enlace de arriba no se muestra o no funciona, copie y pegue el siguiente enlace en la barra de direcciones de su navegador. <br><br>
                                        ${urlportal} <br> <br>
                                        Atentamente, <br>
                                        Equipo de Compras - JRC
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <!--<td style="padding-top:0px;padding-left:10px;padding-bottom:20px;padding-right:10px;font-family:Montserrat,sans-serif;font-size:8px;line-height:10px;color:#515151;text-align:justify">
                                    <p align="justify">
                                        Aviso de Confidencialidad: Este correo electrónico y/o la información incluida
                                        en él es para uso exclusivo de su destinatario, y su contenido solo podría
                                        ser entendido correctamente por él. Asimismo, puede contener información
                                        confidencial o material privilegiado. Si usted no es el destinatario del mismo y
                                        lo recibió por error, por favor repórtelo inmediatamente al siguiente correo
                                        electrónico: compras@topitop.com.pe, y bórrelo. Cualquier revisión,
                                        retransmisión, difusión o cualquier otro uso de este correo, por personas o
                                        entidades distintas a las del destinatario, queda expresamente prohibido. Este
                                        correo electrónico no pretende ni debe ser considerado como constitutivo de
                                        ninguna relación legal, contractual o de otra índole similar, en consecuencia,
                                        no genera obligación alguna, ni responsabilidad, a cargo de su emisor.
                                        <br><br>
                                        El portal de proveedores iProvider es compatible con los navegadores
                                        Google Chrome, Microsoft Edge y Mozilla Firefox.
                                    <p/>
                                </td>-->
                            </tr>
                            <!-- Fin Texto Destacado -->

                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- FIN CONTENIDO -->
    <!-- FOOTER -->
    <tr>
        <td align="left">
            <a href="https://www.jrc.com.pe/" target="_blank" border="0" style="text-decoration:none;">
                <img src="cid:${vendor_footer}" width="200" style="height: 50px;display:block;">
            </a>
        </td>
    </tr>
    <!-- FIN FOOTER -->
</table>
</body>

</html>