<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN”
        “http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd”>
<html xmlns=“http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body style="margin:0 auto;">
<!-- gold bar -->
<table width="100%" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
    <!-- HEADER  -->
    <!-- Inicio Logo y titulo -->
    <!--<tr>
        <td align="center">
            <img src="cid:${vendor_header}"
                 alt="Topitop - Soluciones inmobiliarias trascendentes que generan calidad para las ciudades" border="0"
                 width="600"
                 style="width:600px;display:block;" />
        </td>
    </tr>-->
    <!-- Fin Logo y titulo -->
    <!--  FIN HEADER  -->
    <!-- CONTENIDO -->
    <tr>
        <td>
            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <table width="100%">
                            <!-- Inicio Texto Destacado -->
                            <tr>
                                <td style="padding-top:20px;padding-left:10px;padding-bottom:20px;padding-right:10px;font-family:Montserrat,sans-serif;font-size:14px;line-height:18px;color:#515151;text-align:justify;font-weight: 600;">
                                    <p align="justify">
                                        Estimado ${nombreProveedor},
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:0px;padding-left:10px;padding-bottom:20px;padding-right:10px;font-family:Montserrat,sans-serif;font-size:12px;line-height:18px;color:#515151;text-align:justify">
                                    <p align="justify">
                                        ${nroOrdenCompra}
                                    </p>
                                </td>
                            </tr>
                            <!-- Fin Texto Destacado -->
                            <!--                            <tr>-->
                            <!--                                <td style="padding-top:0px;padding-left:10px;padding-bottom:20px;padding-right:10px;font-family:Montserrat,sans-serif;font-size:12px;line-height:18px;color:#515151;text-align:left">-->
                            <!--                                    <br/>-->
                            <!--                                    <b>Motivo ReNegociación: ${motivoReNegociacion}</b>-->
                            <!--                                </td>-->
                            <!--                            </tr>-->
                            <!-- Inicio CTA -->
                            <tr>
                                <td align="center" style="padding-bottom: 20px;">
                                    <table style="width: 80%; height: 35px; background-color: #BCFF22; border-radius: 20px; text-align: center;" cellspacing="0" cellpadding="0" border="0">
                                        <tr>
                                            <td align="center">
                                                <a href="${urlportal}" target="_blank" style="display: inline-block; width: 100%; height: 35px; line-height: 35px; text-decoration: none; font-size: 12px; font-family: Montserrat, sans-serif; color: black; font-weight: bold; text-align: center;">
                                                    Haga clic aquí para ingresar a su cuenta
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- Fin CTA -->
                            <!-- Inicio Texto Destacado -->
                            <tr>
                                <td style="padding-top:0px;padding-left:10px;padding-bottom:20px;padding-right:10px;font-family:Montserrat,sans-serif;font-size:12px;line-height:18px;color:#515151;text-align:justify">
                                    <p align="justify">
                                        Si el enlace líneas arriba no funciona, copie y pegue el siguiente link en la barra de direcciones de su navegador: <br><br>
                                        ${urlportal} <br> <br>
                                        Atentamente, <br>
                                        Equipo de Compras - JRC
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <!--<td style="padding-top:0px;padding-left:10px;padding-bottom:20px;padding-right:10px;font-family:Montserrat,sans-serif;font-size:8px;line-height:10px;color:#515151;text-align:justify">
                                    <p align="justify">
                                        Aviso de Confidencialidad: Este correo electrónico y/o la información incluida
                                        en él es para uso exclusivo de su destinatario, y su contenido solo podría
                                        ser entendido correctamente por él. Asimismo, puede contener información
                                        confidencial o material privilegiado. Si usted no es el destinatario del mismo y
                                        lo recibió por error, por favor repórtelo inmediatamente al siguiente correo
                                        electrónico: compras@topitop.com.pe, y bórrelo. Cualquier revisión,
                                        retransmisión, difusión o cualquier otro uso de este correo, por personas o
                                        entidades distintas a las del destinatario, queda expresamente prohibido. Este
                                        correo electrónico no pretende ni debe ser considerado como constitutivo de
                                        ninguna relación legal, contractual o de otra índole similar, en consecuencia,
                                        no genera obligación alguna, ni responsabilidad, a cargo de su emisor.
                                        <br><br>
                                        El portal de proveedores iProvider es compatible con los navegadores
                                        Google Chrome, Microsoft Edge y Mozilla Firefox.
                                    <p/>
                                </td>-->
                            </tr>
                            <!-- Fin Texto Destacado -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- FIN CONTENIDO -->
    <!-- FOOTER -->
    <tr>
        <td align="left">
            <a href="https://www.jrc.com.pe/" target="_blank" border="0" style="text-decoration:none;">
                <img src="cid:${vendor_footer}" width="200" style="height: 50px;display:block;">
            </a>
        </td>
    </tr>
    <!-- FIN FOOTER -->
</table>
<!--<table cellspacing="0" cellpadding="0" width="600px">-->
<!--    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">-->
<!--        <td class="main_first"-->
<!--            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 36px;padding-bottom: 12px">-->
<!--            <h1 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;color: #555;margin-bottom: 24px">-->
<!--                Estimado ${nombreProveedor},</h1>-->
<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">-->
<!--                Se le informa que ha resultado ganador de la Licitación <b>Nro. ${nroLicitacion}</b>, en breve se enviará la Orden de compra /-->
<!--                servicio para su atención. Recuerde que puede visualizar el estado de sus  órdenes de compra desde el "Tracking de-->
<!--                órdenes" en el portal.-->
<!--            </p>-->
<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">-->
<!--                Para mayor detalle por favor contactarse con <b>${usuarioSanMartin} ${emailSanMartin}</b>.-->
<!--            </p>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--<table cellspacing="0" cellpadding="0" width="600px">-->
<!--    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">-->
<!--        <td align="middle" class="cta_container"-->
<!--            style="border-collapse: collapse; width: 600px; padding: 0; margin: 0; padding-top: 36px; padding-bottom: 36px">-->
<!--            <a href="${url}" id="activation-link" class="cta"-->
<!--               style="font-family: Arial, Helvetica, sans-serif;color: #fff;background-color: #226ca9;background: #226ca9;background-image: linear-gradient(top, #008fcc, #2b3f7b);border-radius: 4px;font-size: 16px;text-decoration: none;padding: 8px 12px">-->
<!--                Clic para ingresar para ver el seguimiento de órdenes de compra / servicio</a></td>-->
<!--    </tr>-->
<!--</table>-->
<!--<table cellspacing="0" cellpadding="0" width="600px">-->
<!--    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">-->
<!--        <td class="main"-->
<!--            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 12px;word-wrap: break-word">-->
<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px;word-wrap: break-word">-->
<!--                Si el enlace de arriba no se muestra o no funciona, copie y pegue el siguiente enlace en la barra de-->
<!--                direcciones de su navegador.-->
<!--            </p>-->
<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px;word-wrap: break-word">-->
<!--                ${url}-->
<!--            </p>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--<table cellspacing="0" cellpadding="0" width="600px">-->
<!--    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">-->
<!--        <td class="main_last"-->
<!--            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 36px">-->
<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">-->
<!--                Atentamente,<br/>-->
<!--                Equipo IProvider - Topitop</p>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--<table cellpadding="0" cellspacing="0" width="600px">-->
<!--    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">-->
<!--        <td class="colophon"-->
<!--            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;font-size: 11px;color: #888;line-height: 13px">-->
<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 11px;line-height: 13px;color: #888">-->
<!--                Este correo electrónico puede contener secretos comerciales o información privilegiada, no divulgada o confidencial.-->
<!--                Si recibió este correo electrónico por error, se le notifica que cualquier revisión, copia o distribución-->
<!--                está estrictamente prohibida. Por favor, infórmenos de inmediato y destruya la transmisión original.-->
<!--                Gracias por su cooperación.-->
<!--            </p>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--<hr>-->
<!--<table cellspacing="0" cellpadding="0" width="600px">-->
<!--    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">-->
<!--        <td class="main_first"-->
<!--            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 36px;padding-bottom: 12px">-->
<!--            <h1 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;color: #555;margin-bottom: 24px">-->
<!--                Dear ${nombreProveedor},</h1>-->
<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">-->
<!--                You are informed that you have been the winner of Bid <b>No. ${nroLicitacion}</b>, the Purchase / Service Order will be sent shortly-->
<!--                for your attention. Remember that you can view the status of your purchase orders from the "Tracking of orders" in the portal.-->
<!--            </p>-->
<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">-->
<!--                For more details please contact to <b>${usuarioSanMartin} ${emailSanMartin}</b>.-->
<!--            </p>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--<table cellspacing="0" cellpadding="0" width="600px">-->
<!--    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">-->
<!--        <td align="middle" class="cta_container"-->
<!--            style="border-collapse: collapse; width: 600px; padding: 0; margin: 0; padding-top: 36px; padding-bottom: 36px">-->
<!--            <a href="${url}" id="activation-link_" class="cta"-->
<!--               style="font-family: Arial, Helvetica, sans-serif;color: #fff;background-color: #226ca9;background: #226ca9;background-image: linear-gradient(top, #008fcc, #2b3f7b);border-radius: 4px;font-size: 16px;text-decoration: none;padding: 8px 12px">-->
<!--                Click here to see the follow-up of purchase / service orders</a></td>-->
<!--    </tr>-->
<!--</table>-->
<!--<table cellspacing="0" cellpadding="0" width="600px">-->
<!--    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">-->
<!--        <td class="main"-->
<!--            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 12px;word-wrap: break-word">-->
<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px;word-wrap: break-word">-->
<!--                If the link above is not displayed or does not work, copy and paste the link below to the address bar of your browser.-->
<!--            </p>-->

<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px;word-wrap: break-word">-->
<!--                ${url}-->
<!--            </p>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--<table cellspacing="0" cellpadding="0" width="600px">-->
<!--    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">-->
<!--        <td class="main_last"-->
<!--            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 36px">-->
<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">-->
<!--                Best Regards,<br/>-->
<!--                Team IProvider - Topitop</p>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
<!--<table cellpadding="0" cellspacing="0" width="600px">-->
<!--    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">-->
<!--        <td class="colophon"-->
<!--            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;font-size: 11px;color: #888;line-height: 13px">-->
<!--            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 11px;line-height: 13px;color: #888">-->
<!--                This e-mail may contain trade secrets or privileged, undisclosed, or otherwise confidential information.-->
<!--                If you have received this e-mail in error, you are hereby notified that any review, copying, or distribution-->
<!--                of it is strictly prohibited. Please inform us immediately and destroy the original transmittal. Thank you for-->
<!--                your cooperation.-->
<!--            </p>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>